<a href="https://colab.research.google.com/github/aelshehawy/PythonSocialDataScience/blob/main/Session_1_Python22_Excercises_part1solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Session 1**
# Excercises - Part 1 Solutions

In [ ]:
#Excercise 1

# a- Print the multiplication of 7 and 8, save them in a variable called mult
# b- Calculate 5^2, save in a variable called power
# print the results

In [ ]:
7*8

56

In [ ]:
mult=7*8
print(mult)
power=5**2
print(power)

56
25

In [ ]:
#Excercise 2

#calculate how many weeks in 10 years - approximately
#hints:
#save the number of weeks in a year in a variable called weeks
#save the number 10 in a variable called 10 years
#specificy and print outcome - variable named weeksin10years

In [ ]:
weeks=12*4.3
years=10
weeksin10years=years*weeks
print(weeksin10years)

516.0

In [ ]:
#Excercise 3

# Print the interger of the division of 244 by 5 and save them in a variable called division

division=244//5
division

48

In [ ]:
print(type(division))

<class 'int'>

In [ ]:
#Excercise 4

# Calculate the area of a circle
# 1) define the variables that you need - pi and r, in that case r=3
# 2) write the equation
# 3) make sure you have a float type answer
# 4) print out the result

In [ ]:
pi=3.14
r=3
A=((r**2)*pi)
A

28.26

In [ ]:
#Excercise 5

# Request the name of the user
# Request the age of a user
# print out the name and age of the user in a sentence using the variables you have defined for age and name

In [ ]:
name=input("Whats your name?\t")

Whats your name?	ash

In [ ]:
age=input("Whats your age?\n")

Whats your age?
27

In [ ]:
answer = print("This person's name is \t", name + "and they are"+ " " + age + "years old.")

This person's name is 	 ashand they are 27years old.

In [ ]:
#Excercise 5

#Fix the errors here
# Fix the printout
randomnumber1=10
randomnumber2=13
print("I have" + " " +str(randomnumber1) + " of apples and" + " " + str(randomnumber2) + " " + "of bananas!")

I have 10 of apples and 13 of bananas!

In [ ]:
#Excercise 6

# Fix the errors here
# Fix the printout

#define random numbers
randomnumber1=7
randomnumber2=8
#transform numbers to string
print("I have" + " " +str(randomnumber1) + " of apples and" + " " + str(randomnumber2) + " " + "of bananas!")

In [ ]:
#Excercise 7

#Display “My Name Is [insert your name]” as “My**Name**Is**[insert your name]” using output formatting of a print() function

print("My", 'Name', 'Is', 'Ash', sep='**')

My**Name**Is**Ash

In [ ]:
#Excercise 8

#Display this float number with 2 decimal places  -40400.2233-  
#Hint use print()


print('%.2f' % 40400.2233)

40400.22

In [ ]:
#Excercise 9

#fix this code 

print "This doesnt work"
print('This doesn't work')
input('Input your age: ')
print(name

In [ ]:
#solutions
print ("This doesnt work") # we need brackets
print("This doesn't work") #we have an extra ' in doesnt
age=input('Input your age: ')# we forgot to close brackets, also we havent dfined the variable age that we input
print(age)

This doesnt work
This doesn't work
Input your age: 27
27

In [ ]:
#Excercise 10

# a- Ask the user to input a random number
# b- Ask the user to input another random number
# c- calculate the sum of both random numbers - save them in a variable called sum 
# d- make sure the variable sum is an interger

#Hint use input for a and b

In [ ]:
number1=input("Please input number ")
number2=input("Please input number ")

Please input number 2.4
Please input number 2

In [ ]:
sum=number1+number2
sum

'2.42'

In [ ]:
type(sum)

str

In [ ]:
sum=int(sum)
sum

14