<a href="https://colab.research.google.com/github/mvdhv/PythonSocialDataScience/blob/main/Copy_of_Session2_Python23_Excercises_inclass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Session 2**
# In Class Excercises

**Exercise 1**

1. count how the occurence of each letter in the sentence. Hint: use the Counter library in python
2. count number of characters/letters only (no white space, no punctuation) - hint use the replace in-built function in python.

In [28]:
sentence=("Hello World, I am so excited; to finally be able to get out of quarantine and meet all my friends")
import string

#First, I manipulated the sentence to lower case all characters and remove any punctuations.

sentence_new = sentence.lower()
sentence_new

sentence_new2 = sentence_new.translate(str.maketrans('', '', string.punctuation))
sentence_new2

#Second, I create an empty dictionary to store the occurence of each English letter/character.

import string
letters = string.ascii_lowercase[:26]
letters

letter_dic = dict()

for x in range(0, 26):
  letter_dic[letters[x]] = 0

#Third, I cound the occurences of each letter/character in the non-punctuated sentence and store the values of occurences in the dictionary.

for letter in sentence_new2:
  if letter == " ":
    continue
  else:
    letter_dic[letter] = letter_dic[letter] + 1

print(letter_dic)

{'a': 7, 'b': 2, 'c': 1, 'd': 4, 'e': 10, 'f': 3, 'g': 1, 'h': 1, 'i': 5, 'j': 0, 'k': 0, 'l': 8, 'm': 3, 'n': 5, 'o': 7, 'p': 0, 'q': 1, 'r': 3, 's': 2, 't': 7, 'u': 2, 'v': 0, 'w': 1, 'x': 1, 'y': 2, 'z': 0}

**Excercise 2**

why do we see an error message here

In [29]:
var = 100 + "the number 100"

TypeError: ignored

Answer: We see an error because we are trying to add an integer value to a string value

**Excercise 3**

- Save your first and last name in lowercase in seperate variables: firstname, lastname
- Save first and last name together in a new variable fullname
- Print your fullname where the first letter of each name is capitalized

Hint

- Make sure there is space between both names

In [30]:
firstname = "madhav"
lastname = "singh"

fullname = firstname + " " + lastname
fullname

'madhav singh'

In [31]:
fullname.title()

'Madhav Singh'

**Excercise 4**

Count number of lowercase and uppercase letters

Note: There are several ways to do this

In [32]:
my_word = "HelLo WorLd"

diction = {"Lower Case": 0, "Upper Case": 0}

for letter in my_word:
  if letter == " ":
    continue
  
  else:

    if letter == letter.lower():
      diction["Lower Case"] = diction["Lower Case"] + 1
    
    else:
      diction["Upper Case"] = diction["Upper Case"] + 1

print(diction)

{'Lower Case': 6, 'Upper Case': 4}

**Excercise 5** 

Focusing on manipulating lists!

1. count how many times bananas occur
2. save last item in the list in the variable "oneitem"
3. save the third item in the list in the variable "thirditem"
4. return the items from the beginning to "chocolate"
5. add a new element to the list called "beef"
6. remove first element of list, uses pop function
7. Insert "grapes" instead of oranges
8. sort this list in ascending numbers,  numbers=[1,9,8,5,2,7]

Make sure you dont overwrite the original list (by creating new lists)

In [26]:
food=["apples","oranges","bananas","chocolate","strawberries","bananas"]

#Count how many times bananas occur:

from collections import Counter

c = Counter(food) 
print(c["bananas"])

#save last item:

oneitem = food[-1]
print(oneitem)

#save third item:

thirditem = food[2]
print(thirditem)

# q4

print(food[:4])

# q5
food.append("beef")
print(food)

# q6
food.pop(0)

# q7
food[1] = "grapes"
print(food)

2
bananas
bananas
['apples', 'oranges', 'bananas', 'chocolate']
['apples', 'oranges', 'bananas', 'chocolate', 'strawberries', 'bananas', 'beef']
['oranges', 'grapes', 'chocolate', 'strawberries', 'bananas', 'beef']

In [27]:
numbers1 = [1,9,8,5,2,7]
numbers1.sort()

**Excercise 6**

Print this string in multi-lines (broken lines) - save in variable "paragraph":

Line 1: I am going to start writing a paragraph <br\>
Line 2: It shoudldnt be too long <br\>
Line 3: I will keep it short

In [39]:
paragraph = "I am going to start writing a paragraph\nIt shouldn't be too long\nI will keep it short"

print(paragraph)

I am going to start writing a paragraph
It shouldn't be too long
I will keep it short

**Excercise 7**

Use once negative and once positive indexing<br\>
to print the letter n

In [43]:
newsentence= "This is a new sentece for Excercise 7"

newsentence[-21]
newsentence[10]

'n'

**Excercise 8**

Add space between every letter of the string below

In [59]:
emptystring1 = ""
string4="Test String"

for letter in string4:
  if (letter == string4[-1]):
    emptystring1 = emptystring1 + letter

  else:
    emptystring1 = emptystring1 + letter + " "
  
print(emptystring1)

T e s t   S t r i n g

**Excercise 9**

Dictionaries 
1. print all keys in the dictionary below
2. print all values in the dictionary below

In [71]:
phd_dictionary={"teaching": 2,"dissertation":10,"coffee":20}

#Print all the keys:

for k,v in phd_dictionary.items():
  print(k)

#Or

phd_dictionary.keys()

#Print all the values:

for k,v in phd_dictionary.items():
  print(v)

#Or

phd_dictionary.values()

teaching
dissertation
coffee
2
10
20

dict_values([2, 10, 20])

**Excercise 10**

1. Please find the numbers that are common from list1 and list2 using list comprehesion. There are several ways to solve this. Hint: remember boolean operations, and check the usage of if in list comprehensions
2. Please fine the numbers that are common from list1 and list2 using intersection. Hint: Think how sets can come handy here

In [10]:
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]

# Question 1:
newlist = [x for x in list_a if x in list_b]
print(newlist)

#Question 2:
newlist2 = set(list_a).intersection(list_b)
print(newlist2)

[2, 3, 4]
{2, 3, 4}

**Excercise 11**

Why is this code showing an error message?

In [ ]:
my_set = {1, 2, [3, 4]}

TypeError: unhashable type: 'list'

This code is showing an error message because we are trying to save a list as a set.

**Excercise 12**
1. Show the Union between both sets
2. Show the Intersection between both sets
3. Show Set Difference
4. Show Set Systematic Difference

In [17]:
x = {100, 200, 300, 400, 500}
z = {400, 500, 600, 700, 800}

union = x.union(z)
print(union)

inter = x.intersection(z)
print(inter)

set_difference = x.difference(z)
print(set_difference)

set_diff2 = x.symmetric_difference(z)
print(set_diff2)

{800, 100, 200, 300, 400, 500, 600, 700}
{400, 500}
{200, 100, 300}
{800, 100, 300, 600, 700, 200}

**Excercise 13**

Nested Dictionaries are dictionaries within dictionaries.
1. Print values for birds in general
2. Print values of the Orchids

In [18]:
nested_dict = { 'birds': {'Parrots': 5, "Owls":9},
                'flowers': {'Sunflower': 2, "Lilly":10,"Orchids":20}}
nested_dict

{'birds': {'Parrots': 5, 'Owls': 9},
 'flowers': {'Sunflower': 2, 'Lilly': 10, 'Orchids': 20}}

In [20]:
print(nested_dict["birds"])

{'Parrots': 5, 'Owls': 9}

In [27]:
print(nested_dict["flowers"]["Orchids"])

20