<a href="https://colab.research.google.com/github/mvdhv/PythonSocialDataScience/blob/main/Copy_of_Session_1_Python23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Welcome to Python for Social Data Science 2023**

# Python Session 1

helloo

In [ ]:
from IPython.display import Image
Image(url='https://media.giphy.com/media/gG9fVWJdN41NeiHhzk/giphy.gif')

Load this code to be able to access data from your Google Drive, this gives permission to Colab to get files/data. Will be super useful in our next sessions.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Organizational

- Class Overview
- Class Times and Class Structure
- Presentations and Python Lab
- Introductions
- Questions: Ashrakat.elshehawy@politics.ox.ac.uk

In [ ]:

from IPython.display import Image
Image(url='https://media.giphy.com/media/dUNNnf1vwvhRuGCBMb/giphy.gif')

# Github

**Why use GitHub?**

- Open Source
- Have your code reviewed by the community
- Give your projects visibility
- Collaborate and track changes for your code visibly
- Newsfeed with latest updates - You can  see what changes have been made in any other repositories you follow. 
- Explore repositories -  On the right of your dashboard, you can locate suggested repositories to follow â€” these suggestions are based on repositories you have followed or starrted.

**How do we use Github?**

- Fork a rep: Create a new project based on a project that already exists - you can fork our repository to have a copy in your profile that you can edit https:/https://github.com/aelshehawy/PythonSocialDataScience <br>
Use fork to work on new features and submit pull requests containing your new changes to the original repository.
- Pull Request:  Authors of the original repository can see your work & choose if they want to accept it to the official project.
- Star: Bookmark repository
- Desktop version is really nice, you can work on your computer, have a local copy of ' repositories, fetch updates from their

**Download our data for the class**

You can download the whole repository with one click: https://github.com/aelshehawy/PythonSocialDataScience

If you wanna download a specific Python sheet or csv file

1. First click on Raw
2. Then, press ctrl+s to save it as **.ipynb** or **csv**

**I recommend using GitHub Desktop:**
if you have forked our class's repository, then clone my repository on your computer and keep fetching changes.

**Just explore and play with GitHub whe you have time**

# Install Jupyter Notebooks on your Local Drive

What is a Jupyter Notebook:

 "Jupyter Notebook is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text."

_We will use Anaconda_ https://www.anaconda.com/products/distribution

in your terminal please enter:

``pip install jupyterlab``

if that doesnt work try:

``conda install -c conda-forge jupyterlab``

# Google Colab Sheets

- Can be used with browsers like Chrome of Firefox
- Saves installation time and effort. Easily use available libraries.
- All your notebooks can be saved directly in your Google Drive
- Excellent for collaborations!
- Check this link for more information https://colab.research.google.com/notebooks/basic_features_overview.ipynb

### So how does it work?

1. To create a new cell you click +
2. To run a cell you need to press the play button
3. You can create cells where you write text by clicking on the + Text button. Here is a cheat sheet [link](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) for markdown, probably you have already used it in R. 
4. If you need to clear everything that is saved in a python notebook (remove saved variables/data etc.). You can click on Edit and choose **clear all output**
6. Save notebooks on your Google Drive - Don't forget!
7. Useful Shortcuts under Tools: Example: Control m m will convert a code cell to a text cell. Control m y will convert a text cell to a code cell.

In [ ]:
1+2

3

# What are we learning in this Python session today

Mainly: Basic Operations of Python

* Python Interactive Shell: Print Function
* Assigning Variables and Values
* Understanding Different Types of Objects in Python
* Mathematical Operations
* Boolean Operations 
* Transformation of Objects
* Input function 
* Understanding Python Strings
* Combining Objects
* Libraries in Python
* Data Structures and Container

# Python Interactive Shell

### The print function
Here you can use print() built in function for python to print strings, intergers etc. <br>
To print a string you need to wrap it in " "

### Assign variable values
here we save a value inside of a variable - exactly as we do with other statistical programmes like R and Stata

In [1]:
print("Welcome")

print(1)

print(1+1)

Welcome
1
2

In [2]:
print("I am calculating the sum of 5 and 7:", 5+7)

I am calculating the sum of 5 and 7: 12

as we saved the string within the variable welcome, we can use python's built in function print() to see what we have saved

Same goes with intergers and calculations

In [7]:
calculation = (5+2+2)

In [8]:
print(calculation)

9

In [4]:
name="madhav"

In [6]:
print(name) #or 
name

madhav

'madhav'

**Take care of overwritting**

In [10]:
calculation = ("5+2+2")

print(calculation)

5+2+2

using variables that we have already assigned

# What type of Object are we using?

# Maths

In [11]:
5+5

10

In [12]:
math=(5+5)

In [13]:
math

10

In [14]:
x=9
y=10
mathoperation = x*y
mathoperation

90

In [16]:
A=11//2 #Integer Division
B=11/2 #Float Division

In [17]:
A

5

In [18]:
B

5.5

# Boolean operations

In programming you often need to know if an expression is True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [19]:
print(100<2) #Can use Boolean operations for more complex operations like to find missing values in rows

False

In [20]:
print("dpir"=="dpirr") #For comparing two or more values

False

In [21]:
print("dpir"!="dpirr") #Negation sign is the same as R

True

# Transform Objects

In [22]:
number = 1

In [23]:
print(number)

1

In [28]:
number_v2=str(number)

In [27]:
type(number_v2)

str

In [26]:
print(number_v2)

1

# Input from keyboard

In [30]:
answer_this_question=input("what is your name?\t") #\t is for space, \n is for breaking a line

what is your name?	madhav

In [31]:
answer_this_question=input("what is your name?\n")

what is your name?
madhav

# Combining objects

In [32]:
text="we" + "are" + "learning" + "python"

In [33]:
print(text)

wearelearningpython

In [36]:
text="we" + " " + "are" + " " + "learning" + " " + "python"

In [37]:
print(text)

we are learning python

In [38]:
text2="we" + "2" + "3"

# Understanding Python Strings

Inputting a string

In [39]:
string="hello world, this is me"

In [40]:
"is" in string #Boolean operation that checks for values in variables

True

what if we wanna make sure if there is a specific word in the saved string?

In [42]:
print(string.upper())

HELLO WORLD, THIS IS ME

In [43]:
print(string.lower())

hello world, this is me

In [44]:
print(string.title())

Hello World, This Is Me

# Manipulate string

#### Strip space

In [46]:
university = "University of Oxford"

In [48]:
university1=university.strip()
print(university1)

University of Oxford

In [50]:
university2 = university.replace(" ", "") #Look for " " and replace it with ""
print(university2)

UniversityofOxford

In [53]:
uni = university.replace("of", " ")

#### Count number of words and letters

In [54]:
len(uni) #len function calculates length

19

In [56]:
len(uni.split()) #The split function used with length counts words based on character spaces

2

# Libraries in Python

Usually you enter in terminal ``pip install [project name]``, best is to check source documentation of project. <br\>
Example: https://pypi.org/project/Counter/

In [ ]:
# you need a library to count faster, this is a very powerful library that we wil use in the future

# Data Structures in Python

### Lists

ordered, changable, allows duplicated items

create empty list

In [57]:
# Create an empty list to hold our users.
usernames = [] #List is created using square brackets
print(usernames)

[]

creating lists and checking length

In [58]:
usernames.append("user1")
usernames.append("user2")
usernames.append("user3")
usernames.append(int("3")) #transforming a string "3" into integer

usernames

['user1', 'user2', 'user3', 3]

In [59]:
fruits = ["apples", "oranges", "strawberries"]
fruits

['apples', 'oranges', 'strawberries']

In [60]:
len(fruits)

3

In [61]:
listofnumbers = [4, 3, 2, 1]
listofnumbers

[4, 3, 2, 1]

In [62]:
listofnumbers[3] #Indexing is done through square brackets; python starts counting from 0

1

In [63]:
listofnumbers[:2] #This is not counted from zero because it is counting two entries from the first (:)

[4, 3]

In [64]:
listofnumbers[-1] #Counting from the last

1

In [66]:
listofnumbers.sort() #Sorted from smallest number to biggest
listofnumbers

[1, 2, 3, 4]

insert list item

modifying list elements

**VERY IMPORTANT** In Python counting of items/observations always starts with 0

access list items

In [67]:
#select items
letters = ["a", "b", "c", "d"]
print(letters)

letters.remove("a")
print(letters)

['a', 'b', 'c', 'd']
['b', 'c', 'd']

In [68]:
letters.pop(0) #Another function to remove something from a list; also counts from 0
print(letters)

['c', 'd']

In [69]:
smallest=min(listofnumbers)
print(smallest)

1

In [ ]:
#select range, slice slice

In [ ]:
#accessing last item

sort numerical list

In [ ]:
numbers = [1, 3, 4, 2]

# sort() puts numbers in increasing order.

In [ ]:

# The reverse() function also works for numerical lists.

removing items by value

Be careful: only the first item with this value is removed. If you have multiple items with the same value, you will have some items with this value left in your list.

In [ ]:
letters = ['a', 'b', 'c', 'a', 'b', 'c']
# Remove the letter a from the list.

Popping items from list:

The pop() function removes the last item from the list, and gives it to us so we can work with it. 

This is easier to show with an example:

In [ ]:
beach = ['sun', 'sand', 'waves']

In [ ]:
beach = ['sun', 'sand', 'waves']

min, max, sum in lists

In [ ]:
ages = [23, 16, 14, 28, 19, 11, 38]

item in list?

In [ ]:
print()

### Dictionaries

A dictionary has a key and a corresponding value

How to create a dictionary

In [70]:
myshoppingitems = ["pasta", 10, "pesto", 2, "chocolate", 5]
myshoppingitems

['pasta', 10, 'pesto', 2, 'chocolate', 5]

In [73]:
myshoppingitems = {"pasta":10, "pesto":2, "chocolate":5} #A dictionary is a nested list??
myshoppingitems

{'pasta': 10, 'pesto': 2, 'chocolate': 5}

Add first item to the dictionary, dictionary keys should always be unique

Access key,item in a dictionary

### Tuples

- immutable sequence of Python objects - you cannot update or change the values of tuple elements
- their advantage is that they have a fixed value

create tuple of one value, you always need a comma at the end

you can access values

you can not modify within tuples, but you can concate different tuples

you can not modify within tuples, but you can repeat tuples in a new tuple

If you try to add something to a tuple, you will get an error:

The same kind of thing happens when you try to remove something from a tuple, or modify one of its elements. Once you define a tuple, you can be confident that its values will not change.

you can check membership

tuples are immutable,  the value in the tuple will never change

### Sets

What is a set? It is an unordered collection of items. You can not be sure in which order the items will appear.

Elements of the set:
1. must be unique - doesnt allow for duplicate elements
2. elemenets can not be changed (you can not access items by refering to an index, as done in lists)

The set as a whole is mutable, we can add and remove items from it

Usually sets are used to for mathematical operations like, union and intersection

In [ ]:
#creation of sets

In [ ]:
# no duplication allowed

In [ ]:
# transform a list to a set

In [ ]:
#mutability of set

#add an item

In [ ]:
#to add more than one item you use update

In [ ]:
# discard an item (similar remove - however remove will show an error if the item is not in the set)