<a href="https://colab.research.google.com/github/aelshehawy/PythonSocialDataScience/blob/main/Session_2_Python22_Excercises_InClass_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Session 2**
# In Class Excercises -  Solutions

**Exercise 1**

1. count how the occurence of each letter in the sentence. Hint: use the Counter library in python
2. count number of characters/letters only (no white space, no punctuation) - hint use the replace in-built function in python.

In [ ]:
sentence=("Hello World, I am so excited; to finally be able to get out of quarantine and meet all my friends")

In [ ]:
#1
from collections import Counter
counter_occurences = Counter(sentence)
counter_occurences

Counter({' ': 19,
         ',': 1,
         ';': 1,
         'H': 1,
         'I': 1,
         'W': 1,
         'a': 7,
         'b': 2,
         'c': 1,
         'd': 4,
         'e': 10,
         'f': 3,
         'g': 1,
         'i': 4,
         'l': 8,
         'm': 3,
         'n': 5,
         'o': 7,
         'q': 1,
         'r': 3,
         's': 2,
         't': 7,
         'u': 2,
         'x': 1,
         'y': 2})

In [ ]:
#2
sentence=sentence.replace(" ", "")
sentence=sentence.replace(",", "")
sentence=sentence.replace(";", "")
print(sentence)
len(sentence)

HelloWorldIamsoexcitedtofinallybeabletogetoutofquarantineandmeetallmyfriends

76

**Excercise 2**

why do we see an error message here

In [ ]:
var = 100 + "the number 100"

TypeError: ignored

In [ ]:
var=100, "the number 100"
var

(100, 'the number 100')

**Excercise 3**

- Save your first and last name in lowercase in seperate variables: firstname, lastname
- Save first and last name together in a new variable fullname
- Print your fullname where the first letter of each name is capitalized

Hint

- Make sure there is space between both names

In [ ]:
lastname="elshehawy"
firstname="ashrakat"

fullname=firstname +" " +lastname
fullname

'ashrakat elshehawy'

In [ ]:
print(fullname.title())

Ashrakat Elshehawy

**Excercise 4**

Count number of lowercase and uppercase words

Note: There are several ways to do this

In [ ]:
my_word = "HelLo WorLd"
lower_count = sum(map(str.islower, my_word))
upper_count = sum(map(str.isupper, my_word))
#map: allows you to process and transform all the items in an iterable without using an explicit for loop
lower_count
upper_count

4

**Excercise 5** 

Focusing on manipulating lists!

1. count how many times bananas occur
2. save last item in the list in the variable "oneitem"
3. save the third item in the list in the variable "thirditem"
4. return the items from the beginning to "chocolate"
5. add a new element to the list called "beef"
6. remove first element of list, uses pop function
7. Insert "grapes" instead of oranges
8. sort this list in ascending numbers,  numbers=[1,9,8,5,2,7]

Make sure you dont overwrite the original list (by creating new lists)

In [ ]:
food=["apples","oranges","bananas","chocolate","strawberries","bananas"]

In [ ]:
#1
food.count("bananas")

2

In [ ]:
#2
#negative indexing, you receive last item
oneitem=food[-1] 
oneitem

'bananas'

In [ ]:
#3
thirditem=food[2] 
thirditem

'bananas'

In [ ]:
#4
print(food[:4]) #By leaving out the end value, the range will go on to the end of the list

['apples', 'oranges', 'bananas', 'chocolate']

In [ ]:
#5
# add a new element
food2=food
food2.append("beef")

print(food)

['apples', 'oranges', 'bananas', 'chocolate', 'strawberries', 'bananas', 'beef']

In [ ]:
# 6
# remove an element
food3=food
food3.pop(0)

print (food)

['oranges', 'bananas', 'chocolate', 'strawberries', 'bananas', 'beef']

In [ ]:
#7
food4=food
food4.insert(2,"grapes")   # Insert item at position i
food

['oranges',
 'bananas',
 'grapes',
 'chocolate',
 'strawberries',
 'bananas',
 'beef']

In [ ]:
#8
numbers=[1,9,8,5,2,7]
numbers.sort()
numbers

[1, 2, 5, 7, 8, 9]

**Excercise 6**

Print this string in multi-lines (broken lines) - save in variable "paragraph":

Line 1: I am going to start writing a paragraph <br\>
Line 2: It shoudldnt be too long <br\>
Line 3: I will keep it short

In [ ]:
# you can use \n\

# This example also works with single-quotes.
paragraph = "I am going to start writing a paragraph\n\
It shoudldnt be too long\n\
I will keep it short"

print(paragraph)

I am going to start writing a paragraph
It shoudldnt be too long
I will keep it short

In [ ]:
#or triple quotations
paragraph = """I am going to start writing a paragraph
It shoudldnt be too long
I will keep it short"""
print(paragraph)

I am going to start writing a paragraph
It shoudldnt be too long
I will keep it short

**Excercise 7**

Use once negative and once positive indexing<br>
to print the letter n

In [ ]:
newsentence= "This is a new sentece for Excercise 7"

In [ ]:
#positive sequencing
print(newsentence[10])

n

In [ ]:
#negative sequencing
print(newsentence[-21])

n

**Excercise 8**

Add space between every letter of the string below

In [ ]:

string4="Test String"

In [ ]:
#The join in Python takes all the elements of an iterable and joins them into a single string
string_revised=" ".join(string4)
print (string_revised)

T e s t   S t r i n g

**Excercise 9**

Dictionaries 
1. print all keys in the dictionary below
2. print all values in the dictionary below

In [ ]:
phd_dictionary={"teaching": 2,"dissertation":10,"coffee":20}

In [ ]:
phd_dictionary_keys = phd_dictionary.keys()
phd_dictionary_keys

dict_keys(['teaching', 'dissertation', 'coffee'])

In [ ]:
phd_dictionary_values = phd_dictionary.values()
phd_dictionary_values

dict_values([2, 10, 20])

**Excercise 10**

1. Please find the numbers that are common from list1 and list2 using list comprehesion. There are several ways to solve this. Hint: remember boolean operations, and check the usage of if in list comprehensions
2. Please fine the numbers that are common from list1 and list2 using intersection. Hint: Think how sets can come handy here

In [ ]:
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]

In [ ]:
#1
common_num = [a for a in list_a for b in list_b if a == b]
common_num

[2, 3, 4]

In [ ]:
common_num1= [element for element in list_a if element in list_b]
common_num1

[2, 3, 4]

In [ ]:
#2
list_a_set = set(list_a)
intersection = list_a_set.intersection(list_b)
intersection

{2, 3, 4}

In [ ]:
#another way to do two
list(set(list_a).intersection(list_b))

[2, 3, 4]

**Excercise 11**

Why is this code showing an error message?

In [ ]:
my_set = {1, 2, [3, 4]}


# set cannot have mutable items
# here [3, 4] is a mutable list
# this will cause an error.

TypeError: ignored

**Excercise 12**
1. Show the Union between both sets
2. Show the Intersection between both sets
3. Show Set Difference
4. Show Set Symmetric Difference

In [ ]:
x = {100, 200, 300, 400, 500}
z = {400, 500, 600, 700, 800}

In [ ]:
#1
print(x | z)
#2
print(x & z)
#3
print(x-z)
#4
print(x^z)
"""The symmetric difference of set A with respect to set B is the set of elements which are in either of the sets A and B, 
but not in their intersection. """

{800, 100, 200, 300, 400, 500, 600, 700}
{400, 500}
{200, 100, 300}
{800, 100, 300, 600, 700, 200}

'The symmetric difference of set A with respect to set B is the set of elements which are in either of the sets A and B, \nbut not in their intersection. '

**Excercise 13**

Nested Dictionaries are dictionaries within dictionaries.
1. Print values for birds in general
2. Print values of the Orchids

In [ ]:
nested_dict = { 'birds': {'Parrots': 5, "Owls":9},
                'flowers': {'Sunflower': 2, "Lilly":10,"Orchids":20}}
nested_dict

{'birds': {'Owls': 9, 'Parrots': 5},
 'flowers': {'Lilly': 10, 'Orchids': 20, 'Sunflower': 2}}

In [ ]:
#1
print(nested_dict['birds'])

{'Parrots': 5, 'Owls': 9}

In [ ]:
#2
print(nested_dict['flowers']["Orchids"])

20