<a href="https://colab.research.google.com/github/aelshehawy/PythonSocialDataScience/blob/main/Session2_Python23_Excercises_inclass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Session 2**
# In Class Excercises

**Exercise 1**

1. count how the occurence of each letter in the sentence. Hint: use the Counter library in python
2. count number of characters/letters only (no white space, no punctuation) - hint use the replace in-built function in python.

In [ ]:
sentence=("Hello World, I am so excited; to finally be able to get out of quarantine and meet all my friends")

**Excercise 2**

why do we see an error message here

In [ ]:
var = 100 + "the number 100"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**Excercise 3**

- Save your first and last name in lowercase in seperate variables: firstname, lastname
- Save first and last name together in a new variable fullname
- Print your fullname where the first letter of each name is capitalized

Hint

- Make sure there is space between both names

**Excercise 4**

Count number of lowercase and uppercase letters

Note: There are several ways to do this

In [ ]:
my_word = "HelLo WorLd"

**Excercise 5** 

Focusing on manipulating lists!

1. count how many times bananas occur
2. save last item in the list in the variable "oneitem"
3. save the third item in the list in the variable "thirditem"
4. return the items from the beginning to "chocolate"
5. add a new element to the list called "beef"
6. remove first element of list, uses pop function
7. Insert "grapes" instead of oranges
8. sort this list in ascending numbers,  numbers=[1,9,8,5,2,7]

Make sure you dont overwrite the original list (by creating new lists)

In [ ]:
food=["apples","oranges","bananas","chocolate","strawberries","bananas"]

**Excercise 6**

Print this string in multi-lines (broken lines) - save in variable "paragraph":

Line 1: I am going to start writing a paragraph <br\>
Line 2: It shoudldnt be too long <br\>
Line 3: I will keep it short

**Excercise 7**

Use once negative and once positive indexing<br\>
to print the letter n

In [ ]:
newsentence= "This is a new sentece for Excercise 7"

**Excercise 8**

Add space between every letter of the string below

In [ ]:

string4="Test String"

**Excercise 9**

Dictionaries 
1. print all keys in the dictionary below
2. print all values in the dictionary below

In [ ]:
phd_dictionary={"teaching": 2,"dissertation":10,"coffee":20}

**Excercise 10**

1. Please find the numbers that are common from list1 and list2 using list comprehesion. There are several ways to solve this. Hint: remember boolean operations, and check the usage of if in list comprehensions
2. Please fine the numbers that are common from list1 and list2 using intersection. Hint: Think how sets can come handy here

In [ ]:
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]

**Excercise 11**

Why is this code showing an error message?

In [ ]:
my_set = {1, 2, [3, 4]}

TypeError: unhashable type: 'list'

**Excercise 12**
1. Show the Union between both sets
2. Show the Intersection between both sets
3. Show Set Difference
4. Show Set Systematic Difference

In [ ]:
x = {100, 200, 300, 400, 500}
z = {400, 500, 600, 700, 800}

**Excercise 13**

Nested Dictionaries are dictionaries within dictionaries.
1. Print values for birds in general
2. Print values of the Orchids

In [ ]:
nested_dict = { 'birds': {'Parrots': 5, "Owls":9},
                'flowers': {'Sunflower': 2, "Lilly":10,"Orchids":20}}
nested_dict

{'birds': {'Owls': 9, 'Parrots': 5},
 'flowers': {'Lilly': 10, 'Orchids': 20, 'Sunflower': 2}}