<a href="https://colab.research.google.com/github/aelshehawy/PythonSocialDataScience/blob/main/Session_2_Python23_Excercises_Home_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Session 2**
# Excercises and Solutions

**Excercise 1**

List comprehension: <br>
1. Split the sentece below, into list items
2. Lowercase all words
2. Count the number of charcters for every word in the list, excluding the word "the"

Use list comprehesion to perform 2 and 3

In [ ]:
sentence = "The hand sanitizer was actually clear glue."
words = sentence.split()
words

['The', 'hand', 'sanitizer', 'was', 'actually', 'clear', 'glue.']

In [ ]:
words_lower = [item.lower() for item in words]
words_lower

['the', 'hand', 'sanitizer', 'was', 'actually', 'clear', 'glue.']

In [ ]:
word_lengths = [len(word) for word in words_lower if word != "the"]
print(word_lengths)

[4, 9, 3, 8, 5, 5]

**Excercise 2**

print the items in the list below in reverse one by one. <br/>
Outcome should look like: <br/>
10<br/>
7<br/>
3<br/>
2<br/>
1<br/>
800<br/>
100<br/>
66<br/>

In [ ]:
a_random_list = [66,100,800,1,2,3,7,10]

for a in a_random_list[::-1]:
    print(a)

10
7
3
2
1
800
100
66

**Excercise 3**

1. Requests the name of the user
2. Ask users if they had a break today
3. Print a message saying that "take a break :)", if they didnt, if they did print "good for you"

In [ ]:
name=input("Whats your name? \t")

Whats your name? 	ash

In [ ]:
answer=input("Did you have a break today  ?\t")

Did you have a break today  ?	yes

In [ ]:
print(type(answer))

<class 'int'>

In [ ]:
if answer=="yes":
    print(name, "good for you")
else:
    print(name, "take a break :)")

ash good for you

**Excercise 4**

- Define a varibale x to take a number as *input*, you will ask the user to enter any number. Tip:  you will need to understand and use the eval() function, why is it important here?
- Store in a list called "todolist", x (the number you have chose) items one at a time that the user has to do today. You do that by using the input function. So to say if the x variable is 2, users should be asked twice. Hint: To do that you need a for loop.
- Print the todolist

In [ ]:
x=eval(input("Please enter any number\n"))

Please enter any number
2

In [ ]:
todolist=[]
for i in range (x):
    todo=input("")
    todolist.append(todo)

print(todolist)

coding
teaching
['coding', 'teaching']

**Excercise 5**

Use a loop over the number and letter lists below.  Think about how to write code that will produce the output below. Hint: you need two loops

1 <br>
a <br>
b<br>
c<br>
2<br>
a<br>
b<br>
c<br>
3<br>
a<br>
b<br>
c<br>

In [ ]:
numbers = [1, 2, 3]
letters = ['a', 'b', 'c']

In [ ]:
for x in numbers:
    print(x)
    for a in letters:
        print(a)

1
a
b
c
2
a
b
c
3
a
b
c

**Excercise 6**

- Define a function that returns absolute values. This function will use if and else statetemts so that it always returns the absolute value even if the inputted number is negative.
- Try this function out, once with the numbers -222 and 100

In [ ]:
def absolute(x):
    if x >= 0:
        print( x)
    else:
        print( -x)

In [ ]:
absolute(-222)
absolute(100)

222
100

**Excersise 7**

Looping over dictionaries

1. Create a dictionary with keys that have names of states in the US and the values are their capital
2. Print the keys of the dictionary
3. Print the values of the dictionary

In [ ]:
states_capital= {'Texas' : 'Austin', 'California' : 'Sacramento', 
                'Ohio' : 'Columbus', 'Pennsylvania' : 'Harrisburg'} 
states_capital

{'California': 'Sacramento',
 'Ohio': 'Columbus',
 'Pennsylvania': 'Harrisburg',
 'Texas': 'Austin'}

In [ ]:
for key in states_capital:
    print(key)

Texas
California
Ohio
Pennsylvania

In [ ]:
for value in states_capital.values(): 
    print(value)

Austin
Sacramento
Columbus
Harrisburg

In [ ]:
for k,v in states_capital.items():
     print(str(k)+': '  + str(v))

Texas: Austin
California: Sacramento
Ohio: Columbus
Pennsylvania: Harrisburg

**Excercise 8**

Looping and indexing. 

Print each letter in the word "awesome". Do that by using a for loop. 

Hint: Check out the range function.

In [ ]:
word= ("awesome")

for i in word:#pull out all elements you wanna work with
    print(i)

a
w
e
s
o
m
e

In [ ]:
word= ("awesome")

for i in range(len(word)):#pull out all elements you wanna work with
    print(word[i])

a
w
e
s
o
m
e

In [ ]:
word[2]

'e'