<a href="https://colab.research.google.com/github/aelshehawy/PythonSocialDataScience/blob/main/Session4_Python22_Excercises_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Excercises

**Excercise 1**

The aim is to try out different modes while opening files 

- open/create a file called "mytext.txt"
- make sure to find out what the writing mode is
- write this sentence in mytext.txt = "what a beautiful day outside, I wish was sitting in the sun"
- make sure to close file

Another question that you should answer using markdown in a new cell. What does the mode r+ do when opening files?

**Excercise 2**

In Pandas

- a) use sputnikgerman20 data
- b) check the length of the dataframe
- c) take a random sample of 5 rows
- d) remove all columns, but keep columns 2, 3 and 4 (remeber python starts counting at 0)
- e) rename those columns date, title, and content (old 2 is date 3 is title, old 4 is content)
- f) merge title and content in a new column (while keeping the old columns) - title_content
- g) write a datacleaning function, that will remove german stopwords, tokenize, remove punctuations, and numbers
- h) clean column title_content
- i) in the data variable/column keep only the year (remove months and day)

**Excercise 3**

*Practicing Loops*:

Print -10 to -1 using for loop

**Excercise 4**

*Practicing Manipulating Data in Pandas*:


- Use pandas to create two dataframes from the dictionaries below
- Merge both dataframes, so that the second data frame is a new column to the first data frame.

In [ ]:
itemsavailable = {'Product': ['Nivea', 'Clinique', 'Dior', 'La_Mer'], 'Quantity': [344535335, 176666995, 199935925 , 71499900]}
prices = {'Product': ['Nivea', 'Clinique', 'Dior', 'La_Mer'], 'price': [141, 80, 182 , 160]}


**Excercise 5**

We have the dataframe below.

Task: replace New with New_. So for example New York will be --> New_York

In [6]:
import pandas as pd
  
# Let's create a Dataframe
df = pd.DataFrame({'City':['New York', 'Parague', 'New Delhi', 'Venice', 'new Orleans'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy', 'Tech_Summit'],
                    'Cost':[10000, 5000, 15000, 2000, 12000]})

In [7]:
df

          City        Event   Cost
0     New York        Music  10000
1      Parague       Poetry   5000
2    New Delhi      Theatre  15000
3       Venice       Comedy   2000
4  new Orleans  Tech_Summit  12000

**Excercise 6**

The dataframe below contains the details about different cities. The names of spme cities contain some additional details enclosed in a bracket. Search for such names and remove the additional details.

In [10]:
import pandas as pd
  
# Let's create a Dataframe
df = pd.DataFrame({'City':['New York (City)', 'Parague', 'New Delhi (Delhi)', 'Venice', 'new Orleans'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy', 'Tech_Summit'],
                    'Cost':[10000, 5000, 15000, 2000, 12000]})